/* 
Färger:
- Mörkgrå: #161616 (Bakgrund)
- Vit/Grå: #a7a7a7 (Textfärg)
- Brun:    #9a816b
- Grön:    #6e9e6b
- Turkos:  #5d959d
- Lila:    #986f99 (Footer)
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --font-color: #a7a7a7;
  --header-background: #2f4f4f;
  --main-background: #161616;
  --footer-background: #986f99;
  --brown: #9a816b;
  --green: #6e9e6b;
  --blue: #5d959d;
  --purple: #986f99;
}

:focus-visible {
  outline: 2px solid #5d959d;
}

::selection {
  background: var(--font-color);
  color: var(--main-background);
}

body {
  font-family: "Rubik", "Segoe UI", sans-serif;
  color: var(--font-color);
  background: var(--main-background);
  margin: 0;
}

header,
footer {
  width: 70vw;
  height: 75px;
  padding-top: 25px;
  padding-left: 15vw;
  padding-right: 15vw;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
}

header {
  background: var(--header-background);
  position: sticky;
}

footer {
  background: var(--header-background);
}

a {
  text-decoration: none;
  color: var(--font-color);
  margin-left: 1vw;
}

a:hover {
  text-shadow: #161616 2px 0 10px;
  text-decoration: underline;
}

a:active {
  text-shadow: #a7a7a7 2px 0 10px;
  text-decoration: underline;
}

#order {
  border: #4f2f46 2px solid;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-top: -10px;
  margin-bottom: 25px;
  padding: 10px;
}

#order:hover {
  background-color: #4f2f46;
}

#title {
  font-weight: bold;
  font-size: 38px;
}

.links {
  display: flex;
  margin-top: 1rem;
}
