/* 
Färger:
- Mörkgrå: #161616 (Bakgrund)
- Vit/Grå: #a7a7a7 (Textfärg)
- Brun:    #9a816b
- Grön:    #6e9e6b
- Turkos:  #5d959d
- Lila:    #986f99 (Footer)
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --font-color: #a7a7a7;
  --header-background: #2f4f4f;
  --main-background: #161616;
  --footer-background: #986f99;
  --brown: #9a816b;
  --green: #6e9e6b;
  --blue: #5d959d;
  --purple: #986f99;
}

:focus-visible {
  outline: 2px solid #5d959d;
}

::selection {
  background: var(--font-color);
  color: var(--main-background);
}

#white {
  color: #fff;
}

body {
  font-family: "Rubik", "Segoe UI", sans-serif;
  color: var(--font-color);
  background: var(--main-background);
  margin: 0;
}

header,
footer {
  width: 70vw;
  height: 75px;
  padding-top: 25px;
  padding-left: 15vw;
  padding-right: 15vw;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
}

header {
  background: var(--header-background);
  position: sticky;
}

footer {
  background: var(--header-background);
}

a {
  text-decoration: none;
  color: var(--font-color);
  margin-left: 1vw;
}

a:hover {
  text-shadow: #161616 2px 0 10px;
  text-decoration: underline;
}

a:active {
  text-shadow: #a7a7a7 2px 0 10px;
  text-decoration: underline;
}

#order {
  border: #4f2f46 2px solid;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-top: -10px;
  margin-bottom: 25px;
  padding: 10px;
}

#order:hover {
  background-color: #4f2f46;
}

#title {
  font-weight: bold;
  font-size: 38px;
}

.links {
  display: flex;
  margin-top: 1rem;
}

main {
  width: 70vw;
  margin-left: 15vw;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-size: xx-large;
  margin-top: 40px;
  margin-bottom: 100px;
}

#banner {
  width: 100vw;
  height: 500px;
  background: url("../img/banner.jpg") no-repeat center fixed;
  background-size: cover;
}

.products {
  text-align: center;
  display: grid;
  justify-items: center;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-row-gap: 100px;
}

.card {
  width: 250px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
  margin: 0 50px;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.5);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
}

.wrapper::after {
  bottom: 0;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.title {
  width: 100%;
  transition: transform 0.5s;
  font-size: large;
  color: black;
  margin-bottom: 40px;
}

.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.object {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .object {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

#brown {
  background: var(--brown);
}

#green {
  background: var(--green);
}

#blue {
  background: var(--blue);
}

#purple {
  background: var(--purple);
}

.about {
  width: 40vw;
  margin-left: 15vw;
}

.info {
  text-align: center;
  display: grid;
  justify-items: center;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
}

.info > img {
  width: 200px;
  margin: 0 70px;
  border-radius: 10%;
  box-shadow: var(--font-color) 10px 10px;
}

#instagram {
  margin-left: 0;
  text-decoration: underline var(--font-color) 1px;
}

@media only screen and (max-width: 600px) {
  header,
  footer {
    width: 80vw;
    padding: 20px 15vw;
  }

  header {
    display: block;
  }

  .links > a {
    margin-left: 1rem;
  }

  #banner {
    background: url("../img/banner.jpg") no-repeat center fixed;
    background-size: auto;
  }

  .products {
    display: block;
    text-align: center;
    margin-left: -25px;
    margin-top: -50px;
  }

  .card {
    margin-bottom: 50px;
  }

  footer {
    display: block;
    text-align: center;
    margin-left: 0;
  }

  .about {
    width: 80vw;
    margin-left: -5vw;
  }

  .info {
    margin-top: -70px;
  }

  .info > img {
    display: none;
  }
}
